Reference
 
* {Resources}

** LoadFont

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|name                 |String          | The name of this font resource.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontFile             |File            | <<[Required]>> The font file.
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** LoadImage

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|name                 |String          | The name of this image resource.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|imageFile            |File            | <<[Required]>> The image file.
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** LoadAlphaNumImages

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|directory            |File            |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fileNamePattern      |String          | 
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|ranges               |String          | 
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|namePrefix           |String          | The name prefix for each images.
|                     |                |
|                     |                | Examples:
|                     |                |
*---------------------+----------------+-----------------------------------------------------------------------------+ 

* {Canvas}

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|size                 |String          | <<[Required if backgroundImageName is not set]>>\
|                     |                | The size of the canvas. This will override the background image size.\
|                     |                | (Default: 0x0)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|backgroundImageName  |String          | The background image resource name. The image size will be the canvas size
|                     |                | unless the size is explicitly set. 
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|backgroundColor      |String          | The background color.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|draw                 |List\<Drawable\>| Drawables.\
|                     |                | Like: \<drawImage\> and \<drawText\>
*---------------------+----------------+-----------------------------------------------------------------------------+ 

* {Drawables}

** DrawImage

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|imageName            |String          | <<[Required]>> The image resource name.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|position             |String          | \{X\},\{Y\}\
|                     |                | where \{X\} can be: left, right, center or a math expression\
|                     |                | where \{Y\} can be: top, bottom, center or a math expression\
|                     |                | \
|                     |                | (Default: 0,0)\
|                     |                | \
|                     |                | See {{{./reference-typesconcepts.html}Types and Concepts}}.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** DrawText

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|text                 |String          | The text to render.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|textColor            |String          | (Default: #000000)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontName             |String          | The name of the font.
|                     |                | (Default: SansSerif)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontStyle            |String          | Font style: plain, bold, italic\
|                     |                | They can be combined using comma: bold,italic
|                     |                | (Default: plain)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontSize             |int             | (Default: 12)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontAntialias        |String          | (Default: ON)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|useBaseline          |boolean         | (Default: false)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|position             |String          | \{X\},\{Y\}\
|                     |                | where \{X\} can be: left, right, center or a math expression\
|                     |                | where \{Y\} can be: top, bottom, center or a math expression\
|                     |                | \
|                     |                | (Default: 0,0)\
|                     |                | \
|                     |                | See {{{./reference-typesconcepts.html}Types and Concepts}}.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** DrawImagesFromText

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|text                 |String          | The text to render using the mapped images. 
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|imageNamePrefix      |String          | <<[Required]>> The images name prefix.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|padding              |int             | The padding between characters.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|alignment            |Alignment       | (Default: HORIZONTAL)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|position             |String          | \{X\},\{Y\}\
|                     |                | where \{X\} can be: left, right, center or a math expression\
|                     |                | where \{Y\} can be: top, bottom, center or a math expression\
|                     |                | \
|                     |                | (Default: 0,0)\
|                     |                | \
|                     |                | See {{{./reference-typesconcepts.html}Types and Concepts}}.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
