Reference
 
* {Types}

** Color

 You may specify a color using a 24-bit integer in decimal, octal or hexadecimal.
 You can also use a constant.

*** Hexadecimal

---
 Syntax:

     #rrggbb or 0xrrggbb
      
     where rr,gg,bb are hexadecimal numbers representing red, green and blue.
      
 Example:
  
     #FF0000 = RED
     #00FF00 = GREEN
     #FFFFFF = WHITE
---

*** Decimal

---
 Syntax:
---

*** Octal

---
 Syntax:
---

*** Constant

 The constants are those defined by the {{{http://docs.oracle.com/javase/7/docs/api/java/awt/Color.html}java.awt.Color}} class.

 Here is a list:

---
 BLACK, BLUE, CYAN, DARK_GRAY, GRAY, GREEN, LIGHT_GRAY, MAGENTA, ORANGE, PINK, RED, WHITE, YELLOW
---

** Position

---
 Syntax:
 
     {X},{Y}
     
     where {X} is: 
     
     left, right or center
     
     and
     
     where {Y} is:
     
     top, bottom or center
     
     or
     
     a mathematical expression, including a constant, i.e.: 5, 2+3 or ${position} - 8 + ${offset} 
     
     or
     
     a combination of a label and an expression, i.e.: center+100
     
 Example:
 
     center,center
     100,250
     100,top
     center-24,bottom-48
      
---

* {Resources}

** LoadFont

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|name                 |String          | The name of this font resource.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontFile             |File            | <<[Required]>> The font file.
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** LoadImage

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|name                 |String          | The name of this image resource.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|imageFile            |File            | <<[Required]>> The image file.
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** LoadAlphaNumImages

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|directory            |File            |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fileNamePattern      |String          |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|ranges               |String          |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|namePrefix           |String          |
*---------------------+----------------+-----------------------------------------------------------------------------+ 

* {Canvas}

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|size                 |String          | <<[Required if backgroundImageName is not set]>>\
|                     |                | The size of the canvas. This will override the background image size.\
|                     |                | (Default: 0x0)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|backgroundImageName  |String          | The background image resource name. The image size will be the canvas size
|                     |                | unless the size is explicitly set. 
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|backgroundColor      |String          | The background color.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|draw                 |List\<Drawable\>| 
*---------------------+----------------+-----------------------------------------------------------------------------+ 

* {Drawables}

** DrawImage

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|imageName            |String          | <<[Required]>>
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|position             |String          | (Default: 0,0)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** DrawText

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|text                 |String          | 
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|textColor            |String          | (Default: #000000)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontName             |String          | (Default: SansSerif)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontStyle            |String          | (Default: plain)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontSize             |String          | (Default: 12)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontAntialias        |String          | (Default: ON)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|useBaseline          |boolean         | (Default: false)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|position             |String          | (Default: 0,0)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** DrawImagesFromText

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|text                 |String          | 
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|imageNamePrefix      |String          | 
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|padding              |int             | 
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|alignment            |Alignment       | (Default: HORIZONTAL)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|position             |String          | (Default: 0,0)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
