Reference
 
    [[1]] {{{Resources}Resources}}

        [[A]] {{{loadFont}loadFont}}

        [[B]] {{{loadImage}loadImage}}

        [[C]] {{{loadAlphaNumImages}loadAlphaNumImages}}

    [[2]] {{{Drawables}Drawables}}
    
        [[A]] {{{canvas}canvas}}
        
        [[B]] {{{drawImage}drawImage}}

        [[C]] {{{drawText}drawText}}

        [[D]] {{{drawImagesFromText}drawImagesFromText}}
        
    [[3]] {{{Layouts}Layouts}}

        [[A]] {{{flowLayout}flowLayout}}

        [[B]] {{{positionalLayout}positionalLayout}}
 
* {Resources}

** {loadFont}

 Short form:

---

    <loadFont>{fontFile}</loadFont>

---

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|name                 |String          | The name of this font resource.
|                     |                | You may omit the font name which will simply import the font 
|                     |                | into the system using its metadata.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontFile             |File            | <<[Required]>> The font file.
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** {loadImage}

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|name                 |String          | The name of this image resource.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|imageFile            |File            | <<[Required]>> The image file.
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** {loadAlphaNumImages}

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|directory            |File            | <<[Required]>> The directory of the images.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fileNamePattern      |String          | <<[Required]>> The file name pattern where %n is replaced by the character 
|                     |                | mapped to the image.\
|                     |                | \
|                     |                | Example:\
|                     |                | \
|                     |                | \ \ \<range\>0-9\</range\>\
|                     |                | \ \ \<fileNamePattern\>image_%n.png\</fileNamePattern\>\
|                     |                | \
|                     |                | \ \ Will load:\
|                     |                | \
|                     |                | \ \ \ \ image_0.png  for 0\
|                     |                | \ \ \ \ image_1.png  for 1\
|                     |                | \ \ \ \ image_2.png  for 2\
|                     |                | \ \ \ \ ...\
|                     |                | \ \ \ \ image_9.png  for 9\
|                     |                | \
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|ranges               |String          | <<[Required]>>\
|                     |                | A range can be a single character or two characters separated by '-'.\
|                     |                | The range a-d is equivalent to a,b,c,d.\
|                     |                | You can specify multiple ranges using comma: a, w-z, 0-9.\
|                     |                | Note: a range is based on the unicode standard order. 
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|namePrefix           |String          | The name prefix for each images.\
|                     |                | \
|                     |                | Examples:\
|                     |                | \
|                     |                | \ \ \<namePrefix\>num\</namePrefix\>\
|                     |                | \
|                     |                | \ \ Resource name mapping using the example above (fileNamePattern):\
|                     |                | \
|                     |                | \ \ \ \ num0 --> image_0.png\
|                     |                | \ \ \ \ num1 --> image_1.png\
|                     |                | \ \ \ \ num2 --> image_2.png\
|                     |                | \ \ \ \ ...\
|                     |                | \ \ \ \ num9 --> image_9.png\
|                     |                | \
*---------------------+----------------+-----------------------------------------------------------------------------+ 

* {Drawables}

** {canvas}

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|size                 |String          | <<[Required if backgroundImageName is not set]>>\
|                     |                | The size of the canvas. This will override the background image size.\
|                     |                | (Default: 0x0)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|backgroundImageName  |String          | The background image resource name. The image size will be the canvas size
|                     |                | unless the size is explicitly set. 
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|backgroundColor      |String          | The background color.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|position             |String          | \{X\},\{Y\}\
|                     |                | where \{X\} can be: left, right, center or a math expression\
|                     |                | where \{Y\} can be: top, bottom, center or a math expression\
|                     |                | \
|                     |                | (Default: 0,0)\
|                     |                | \
|                     |                | See {{{./reference-typesconcepts.html}Types and Concepts}}.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|alpha                |int             | The transparency value in %, 
|                     |                | where 0 is completely transparent and 100 is opaque.\
|                     |                | (Default: 100)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|draw                 |List\<Drawable\>| Drawables.\
|                     |                | Like: \<drawImage\> and \<drawText\>
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** {drawImage}

 Short form:

---

    <drawImage>{imageName}</drawImage>

---

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|imageName            |String          | <<[Required]>> The image resource name.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|position             |String          | \{X\},\{Y\}\
|                     |                | where \{X\} can be: left, right, center or a math expression\
|                     |                | where \{Y\} can be: top, bottom, center or a math expression\
|                     |                | \
|                     |                | (Default: 0,0)\
|                     |                | \
|                     |                | See {{{./reference-typesconcepts.html}Types and Concepts}}.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|alpha                |int             | The transparency value in %, 
|                     |                | where 0 is completely transparent and 100 is opaque.\
|                     |                | (Default: 100)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** {drawText}

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|text                 |String          | The text to render.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|textColor            |String          | The text color.\
|                     |                | (Default: #000000)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontName             |String          | The name of the font.\
|                     |                | (Default: SansSerif)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontStyle            |String          | Font style: plain, bold, italic\
|                     |                | They can be combined using comma: bold,italic\
|                     |                | (Default: plain)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontSize             |int             | The point size of the font.\
|                     |                | (Default: 12)  
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|fontAntialias        |String          | Possible values: ON, OFF, GASP, HBGR, HRGB, VBGR, VRGB\
|                     |                | (Default: ON)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|useBaseline          |boolean         | Set this to true to use the baseline as a base for Y-axis.\
|                     |                | (Default: false)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|position             |String          | \{X\},\{Y\}\
|                     |                | where \{X\} can be: left, right, center or a math expression\
|                     |                | where \{Y\} can be: top, bottom, center or a math expression\
|                     |                | \
|                     |                | (Default: 0,0)\
|                     |                | \
|                     |                | See {{{./reference-typesconcepts.html}Types and Concepts}}.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|alpha                |int             | The transparency value in %, 
|                     |                | where 0 is completely transparent and 100 is opaque.\
|                     |                | (Default: 100)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** {drawImagesFromText}

 The bounds are defined by the total width of each image including padding and the height equals the tallest image.

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|text                 |String          | The text to render using the mapped images. 
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|imageNamePrefix      |String          | <<[Required]>> The images name prefix.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|padding              |int             | The padding between characters.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|alignment            |Alignment       | You can write the text either horizontally (HORIZONTAL) 
|                     |                | or vertically (VERTICAL)\
|                     |                | (Default: HORIZONTAL)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|position             |String          | \{X\},\{Y\}\
|                     |                | where \{X\} can be: left, right, center or a math expression\
|                     |                | where \{Y\} can be: top, bottom, center or a math expression\
|                     |                | \
|                     |                | (Default: 0,0)\
|                     |                | \
|                     |                | See {{{./reference-typesconcepts.html}Types and Concepts}}.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|imagePosition        |String          | The position of each image relative to its bounds.\ 
|                     |                | \
|                     |                | \{X\},\{Y\}\
|                     |                | where \{X\} can be: left, right, center or a math expression\
|                     |                | where \{Y\} can be: top, bottom, center or a math expression\
|                     |                | \
|                     |                | (Default: left,bottom)\
|                     |                | \
|                     |                | See {{{./reference-typesconcepts.html}Types and Concepts}}.
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|alpha                |int             | The transparency value in %, 
|                     |                | where 0 is completely transparent and 100 is opaque.\
|                     |                | (Default: 100)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 

* {Layouts}

 Layouts are simply containers that define a set of attributes that the drawables are bound to.

** {flowLayout}

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|padding              |int             | The padding (in pixels) between drawables.\
|                     |                | (Default: 0)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|alignment            |Alignment       | The rendering alignment: HORIZONTAL or VERTICAL\
|                     |                | (Default: HORIZONTAL)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|alpha                |int             | The transparency value in %, 
|                     |                | where 0 is completely transparent and 100 is opaque.\
|                     |                | (Default: 100)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|draw                 |List\<Drawable\>| Drawables.\
|                     |                | Like: \<drawImage\> and \<drawText\>
*---------------------+----------------+-----------------------------------------------------------------------------+ 

** {positionalLayout}

*---------------------+----------------+-----------------------------------------------------------------------------+ 
||Attribute           ||Type           ||Description                                                                 |
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|size                 |int             | The size (bounds) of this layout.\
|                     |                | (Default: 0,0)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|alpha                |int             | The transparency value in %, 
|                     |                | where 0 is completely transparent and 100 is opaque.\
|                     |                | (Default: 100)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|isVisible            |boolean         | Set this to false to skip rendering this component.\
|                     |                | (Default: true)
*---------------------+----------------+-----------------------------------------------------------------------------+ 
|draw                 |List\<Drawable\>| Drawables.\
|                     |                | Like: \<drawImage\> and \<drawText\>
*---------------------+----------------+-----------------------------------------------------------------------------+ 
